<header>
  <h3><a href="/">Brians Ostebiks</a></h3>
  <nav>
    <ul>
      <li><a href="../products">Oste</a></li>
      <li><a href="#">Vin</a></li>
      <li><a href="#">Brød</a></li>
      <li><a href="#">Kontakt</a></li>
    </ul>
  </nav>
</header>
