<%include ../partials/head %> 
<%include ../partials/header %>

<main class="main">
  <section >
    <h1 class="main__header">Brians <br> Ostebiks</h1>
    <h3 class="main__subHeader">Ugens ost</h3>
    <article class="main__article">
      <img src="https://via.placeholder.com/150" alt="" />
      <div class="article__textContainer">
      <h4 class="article__header">Feta</h4>
      <p class="article__p">Hard cheese</p>
    </div>
    </article>
  </section>
</article>

<script src="/assets/js/index.js"></script>
<% include ../partials/footer %>
