<%include ../partials/head %> <%include ../partials/header %>

<main class="product__main"></main>

<template id="productTemplate">
  <h1>Produktnavn</h1>
  <section>
    <div class="imgContainer">
      <img class="img" src="" alt="" />
      <figure class="">
        <img src="" alt="" />
        <img src="" alt="" />
        <img src="" alt="" />
      </figure>
    </div>
    <article>
      <h1></h1>
      <p></p>
      <table>
        <tr>
          <th>Land</th>
          <td class="land">DK</td>
        </tr>
        <tr>
          <th>Vægt</th>
          <td class="vægt">250g</td>
        </tr>
        <tr>
          <th>Pris</th>
          <td class="pris">DKK 65,75</td>
        </tr>
      </table>
    </article>
  </section>
</template>

<script src="/assets/js/getProduct.js"></script>
<% include ../partials/footer %>
