@import url('https://fonts.googleapis.com/css?family=Bitter&display=swap');

$primaryColor: green;
$secondaryColor: yellow;
$whiteColor: white;

$headerFontStyle: "Bitter";
$headerFontColor: #A2A374;
